# Temp Files
**/*.log
**/.docpad.db

# Build Files
.idea/
grunt/
components/
bower_components/
node_modules/

# Development Files
.editorconfig
.jshintrc
coffeelint.json
.travis*
Cakefile
Makefile
gruntfile.coffee

**/lib/
**/src/
**/test/
**/examples/

# Other Package Definitions
template.js
component.json
bower.json

# =====================================
# CUSTOM MODIFICATIONS

# None
